/.venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/PythonPortfolio.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/logs.log
/.env
/.streamlit/secrets.toml
